!!!
%head
  %meta(charset="utf-8")

  %title PR Dashboard

  %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  %link(rel="stylesheet" href="/application.css")
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  %script(src="/application.js")


%body
  .container-fluid
    = yield


    .clearfix.text-muted
      - rate_limit = Octokit.rate_limit
      %small.pull-left
        Remaining requests:
        %strong= rate_limit.remaining
        %br
        Resets at:
        %strong= rate_limit.resets_at

      %small.pull-right
        Refreshing in
        %strong#refresh-timer
        seconds
